<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--key默认值-->
    <add key="key_textBox" value="" />
    <!--UrlEncode(编码)复选框-->
    <add key="UrlEncode_checkBox" value="true" />
    <!--UrlEncode(Jmeter函数)复选框-->
    <add key="UrlEncodeFun_checkBox" value="false" />
    <!--是否记录日志-->
    <add key="writeToLog" value="true" />
  </appSettings>
</configuration>